body {
    font-family:  "Inter", sans-serif;
    background-color: blueviolet;
    width: 1440;
    padding: 0 0;
        }

        img{
            display: block;
        }

    ul {
            list-style: none;
            padding-left: 0;
            margin: 0;
        }

.container {
    width: 1270px;
    margin: 0 auto;
    padding: 0 15px;

}.page-header {
    }

.header-logo-link {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 3%;
    line-height: auto;
    color: #1B414B;

}



.page-nav {
    display: flex;
    font-weight: 400;
        font-size: 9px;
   
        /* line-height: 12px; */
        line-height: 1.3;
        text-transform: uppercase;
        text-align: center;
        color: #fbfbfb;
       

}
.header-nav-link {
    padding: 15px 24px;
background-color: rgba(27, 65, 75, 0.5%);
}

.section-hero {
    background-image: url(./images/hero-img.jpg);
}

.hero-title {}

.hero-text {}

.hero-btn {}

.section-about {}

.about-title {}

.about-text {}

.about-text-two {}

.about-img {}

.section-yachts {}

.title-yachts-select {}

.yachts-list-selection {}

.yacht-card-arrow {}

.yacht-card-benetti {}

.yacht-card-belleanna {}

.section-benefits {}

.section-benefits-list {}

.benefits-item {}

.section-benefits-img {}

.section-rent {}

.section-rent-img {}

.section-rent-title {}

.section-rent-input {}

.rent-btn {}

.section-reviews {}

.section-reviews-title {}

.reviews-text {}

.section-footer {}


.footer-logo-link {}

.footer-nav-menu {}

.footer-link-about {}

.footer-link-yachts {}

.footer-link-reviews {}

.footer-social-menu {}

.footer-link-inst {}

.footer-link-youtube {}

.footer-link-facebook {}

.section-footer-title {}

.section-footer-text {}