body {
    font-family:  "Inter", sans-serif;
    background-color: blueviolet;
    width: 1440;
    padding: 0 0;
        }

        img{
            display: block;
        }

.container {
    width: 1240px;

}